<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <meta http-equiv="refresh" content="5"> -->
<link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello World</h1>
    <h1> <%- haha.name %></h1>
    <h1> <%- haha.age %></h1>
    <h1> <%- hehe.continent %></h1>
    <h2> <%- huhu.name %></h2>
    <h2> <%- huhu.message %></h2>
    <h2><%- hora.desc %></h2>
<h1><%- 1+1+1 %></h1>
</body>
</html>